body{
	font-size: 14px;
	line-height: 20px;
	color: #2F2F2F;
	@extend %Manrope-regular;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container{
	max-width: 1451px;
	margin: 0 auto;
	padding: 0 15px;
}

.title{
	position: relative;
	@extend %Manrope-light;
	font-size: 40px;
	line-height: 60px;
	padding-bottom: 10px;
	max-width: 589px;
	padding-top: 80px;
	margin-bottom: 35px;


	&::before{
		content: '';
		position: absolute;
		background: linear-gradient(270deg, #FFD600 0%, #AF9E72 100%);
		width: 590px;
		height: 4px;
		bottom: 0;
		left: 0;
	}

	&::after{
		content: '';
		position: absolute;
		background: linear-gradient(270deg, #FFD600 0%, #AF9E72 100%);
		width: 347px;
		height: 2px;
		bottom: -13px;
		right: 0;
	}
}

.title--padding--big{
	padding-left: 240px;
}

.title--padding--small{
	padding-left: 140px;
}

.section{
	min-height: 100vh;
}

.video{
	border-radius: 4px;
	max-width: 460px;
	background: #2F2F2F;
}

::-moz-placeholder{
	opacity:1
}

.btn {
	background: #FFD600;
	border-radius: 4px;
	font-size: 24px;
	line-height: 30px;
	padding-top: 17px;
	padding-bottom: 17px;
	color: #2F2F2F;
}